<h1 class="sunshine">Sunshine Story</h1>

<div class="dashboard">

  <div class="stats-panel">

    <p>Let's tend to your garden, <em><%= @user_profile.user_name %></em>!</p>

    <p>You're holding <em><%= @flower_type.name %></em> seeds!</p>

    <p><a href="../..">Return to Dashboard</a>.</p>
  </div>

  <div class="plot-grid" style="grid-template-columns: repeat(<%= @user_profile.plot_size %>, 1fr);">
  <% @all_plot_slots.each do |plot_slot| %>
    <div>
      <% if plot_slot.flower_type == nil %>
        <%= form_tag "." do %>
          <%= hidden_field_tag :flower_type_id_string, @flower_type.id %>
          <%= hidden_field_tag :plot_slot_x_string, plot_slot.x %>
          <%= hidden_field_tag :plot_slot_y_string, plot_slot.y %>
          <%= submit_tag "Plant!" %>
        <% end %>
      <% else %>
        <% if DateTime.now.to_i - plot_slot.when_planted.to_i > plot_slot.growth_duration_seconds %>
          <img class="flower-graphic" src="/flowers<%= plot_slot.graphic%>">
        <% else %>
          <img class="flower-graphic" src="/sprouts<%= plot_slot.graphic%>">
        <% end %>
      <% end %>
    </div>
  <% end %>

  </div>
</div>
