<h1 class="sunshine">Sunshine Story</h1>

<div class="dashboard">

  <div class="stats-panel">

    <p>Hi there, <em><%= @user_profile.user_name %></em>!</p>

    <!-- Sunpennies -->
    <% if @user_profile.sun_penny == 1 %>
    <p>You have <em><%= @user_profile.sun_penny %></em> sunpenny!</p>
    <% else %>
    <p>You have <em><%= @user_profile.sun_penny %></em> sunpennies!</p>
    <% end %>

    <!-- Inventory -->
    <div>Here's what you've got in your <em>inventory</em>!
      <table class="inventory">
        <thead>
          <th>Name</th>
          <th>Flowers</th>
        </thead>
        <tbody>
          <% @owned_flower_types.each do |flower_type| %>
          <tr>
            <td>
              <%= flower_type.name %>
            </td>
            <td>
              <%= flower_type.flower_quantity %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <p>
      <a href=".">Return to dashboard</a>! <!--<a href="shop">Go to Shop</a>!-->
    </p>

  </div>

  <div class="stats-panel">
    <% @all_customer_requests.each do |customer_request| %>
      <div class="requests">
        Someone would like to purchase <%= customer_request.quantity %>
        <% if customer_request.quantity > 1 %>
          <%= customer_request.name.pluralize %>
        <% else %>
          <%= customer_request.name%>
        <% end %>
        from you!
        <% if customer_request.have_enough_flowers == 1 %>
          <%= form_tag "sell" do %>
            <%= hidden_field_tag :sell_customer_request_id_string, customer_request.id %>
            <%= submit_tag "Make the sale!" %>
          <% end %>
        <% else %>
          <br/>But you don't have enough! Get gardening!
        <% end %>
      </div>
    <% end %>
  </div>

</div>
