<%= form_with(model: owned_seed, local: true) do |form| %>
  <% if owned_seed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(owned_seed.errors.count, "error") %> prohibited this owned_seed from being saved:</h2>

      <ul>
        <% owned_seed.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_profile_id %>
    <%= form.text_field :user_profile_id %>
  </div>

  <div class="field">
    <%= form.label :flower_type_id %>
    <%= form.text_field :flower_type_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
